<template>
  <footer class="max-w-screen-xl px-8 mx-auto">
    <div class="w-full border-y border-[#DDDDDD]">
      <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        <div
          class="md:w-full lg:w-full w-full sm:w-1/2 xl:w-fit flex flex-col sm:flex-row sm:px-6 py-6 sm:py-12 sm:space-x-10 sm:border-r-0 border-[#DDDDDD]"
        >
          <div class="mb-6 sm:mb-0">
            <a href="#">
              <img :src="require('~/assets/img/logo/kiriminaja.svg')" class="w-40 -mt-2" alt="KiriminAja Logo">
            </a>
            <p class="mt-3 mb-10">
              KiriminAja adalah sebuah platform order pengiriman berbagai ekspedisi, agar para online seller dapat dengan mudah melakukan pengiriman paket COD maupun NON COD ke seluruh Indonesia.
            </p>
            <ul class="xl:w-7/12 mb-5 grid gap-y-3 text-sm text-neutral-600 dark:text-white text-opacity-80">
              <li class="pl-12 relative h-10 place-items-center flex">
                <div class="absolute p-1.5 left-0 bg-primary-300 text-primary-700 dark:text-primary-400 top-0.5 bg-opacity-30 rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-building-skyscraper"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><line x1="3" y1="21" x2="21" y2="21" /><path d="M5 21v-14l8 -4v18" /><path d="M19 21v-10l-6 -4" /><line x1="9" y1="9" x2="9" y2="9.01" /><line x1="9" y1="12" x2="9" y2="12.01" /><line x1="9" y1="15" x2="9" y2="15.01" /><line x1="9" y1="18" x2="9" y2="18.01" /></svg>
                </div>
                <span>Jl. Palagan No. 30, Ngaglik, Sleman, DI Yogyakarta </span>
              </li>
              <li class="pl-12 relative h-10 place-items-center flex">
                <div class="absolute p-1.5 left-0 bg-primary-300 text-primary-700 dark:text-primary-400 top-0.5 bg-opacity-30 rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-mailbox"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 21v-6.5a3.5 3.5 0 0 0 -7 0v6.5h18v-6a4 4 0 0 0 -4 -4h-10.5" /><path d="M12 11v-8h4l2 2l-2 2h-4" /><path d="M6 15h1" /></svg>
                </div>
                <span>support@kiriminaja.com</span>
              </li>
              <li class="pl-12 relative h-10 place-items-center flex">
                <div class="absolute p-1.5 left-0 bg-primary-300 text-primary-700 dark:text-primary-400 top-0.5 bg-opacity-30 rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-dialpad"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 3h4v4h-4z" /><path d="M17 3h4v4h-4z" /><path d="M10 3h4v4h-4z" /><path d="M3 10h4v4h-4z" /><path d="M17 10h4v4h-4z" /><path d="M10 10h4v4h-4z" /><path d="M10 17h4v4h-4z" /></svg>
                </div>
                <span>0274 8000 123</span>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="md:w-full md:border-t lg:w-full w-full sm:w-1/2 xl:w-fit sm:px-16 py-6 sm:py-12 border-t sm:border-t-0 sm:border-r-0 border-[#DDDDDD]"
        >
          <ul class="space-y-4">
            <h5 class="mb-5 ml-4 text-sm font-medium text-[#666666] focus:outline-none focus:shadow-outline">
              Tautan Cepat
            </h5>
            <NavLink name="Cek Tarif Aja" url="#" />
            <NavLink name="Kabar Buatmu" url="#" />
            <NavLink name="Manajemen Order" url="#" />
            <NavLink name="Integrasi API" url="#" />
            <NavLink name="Karir" url="#" />
          </ul>
        </div>
        <div
          class="md:w-full md:border-t lg:w-full sm:px-10 py-6 sm:py-12 w-full sm:w-1/2 xl:w-[22rem] space-y-4 sm:border-t border-[#DDDDDD]"
        >
          <h5 class="text-sm font-medium text-[#666666] focus:outline-none focus:shadow-outline">
            Newsletter
          </h5>
          <p class="text-sm text-[#666666] focus:outline-none focus:shadow-outline">
            Jadilah Pertama mengetahui <br class="sm:hidden">informasi dari kiriminaja
          </p>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              class="w-full px-2 py-4 sm:py-3 rounded-lg sm:rounded-md text-sm focus:outline-none border border-[#AAAAAA] placeholder-[#888]"
              placeholder="Masukkan email"
            >
            <button
              class="bg-blue-gradient px-4 py-4 sm:py-3 rounded-md text-white hover:shadow-md transition duration-300"
            >
              <ArrowRightIcon :size="20" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="py-8 sm:py-4 text-center text-sm text-[#666666] hover:text-gray-900">
      &copy; Copyright 2022 PT SELALU SIAP SOLUSI. All rights reserved
    </div>
  </footer>
</template>
<script>
export default {
  name: 'BaseFooter'
}
</script>
