<template>
  <div class="w-full">
    <!-- Hero section -->
    <section id="hero" class="w-full pb-24">
      <BaseSection>
        <div class="col-span-12 lg:col-span-6 mt-12 xl:mt-10 space-y-4 sm:space-y-6 px-6 text-center sm:text-left">
          <!-- <span
            data-aos="fade-right"
            data-aos-once="true"
            class="text-base text-gradient font-semibold uppercase"
          >Join Sekarang</span> -->
          <h1
            data-aos="fade-right"
            data-aos-once="true"
            class="text-[2.5rem] sm:text-5xl xl:text-5xl font-bold leading-tight capitalize sm:pr-8 xl:pr-10"
          >
            Khawatir Hadapi Resesi? <span class="text-header-gradient">Udah Tenang,</span> KiriminAja!
          </h1>
          <p data-aos="fade-down" data-aos-once="true" data-aos-delay="300" class="paragraph hidden sm:block">
            KiriminAja berkomitmen empowering pelaku bisnis untuk berani melangkah dengan memberikan kepastian dan keandalan logistik.
          </p>
          <ul data-aos="fade-down" data-aos-once="true" data-aos-delay="300" class="grid gap-y-5 mb-10 text-sm xl:w-8/12 dark:text-neutral-material-400 text-neutral-600">
            <li class="pl-8 relative">
              <svg
                width="24"
                height="24"
                class="absolute left-0 top-2.5 -translate-y-1/2"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_15_153)">
                  <path d="M4.99997 7.2C4.99997 6.61652 5.23176 6.05694 5.64434 5.64436C6.05692 5.23178 6.6165 5 7.19997 5H8.19997C8.78087 4.99967 9.33806 4.7696 9.74997 4.36L10.45 3.66C10.6544 3.4544 10.8975 3.29124 11.1652 3.17991C11.4329 3.06857 11.72 3.01126 12.01 3.01126C12.2999 3.01126 12.587 3.06857 12.8547 3.17991C13.1225 3.29124 13.3655 3.4544 13.57 3.66L14.27 4.36C14.682 4.77 15.24 5 15.82 5H16.82C17.4034 5 17.963 5.23178 18.3756 5.64436C18.7882 6.05694 19.02 6.61652 19.02 7.2V8.2C19.02 8.78 19.25 9.338 19.66 9.75L20.36 10.45C20.5656 10.6544 20.7287 10.8975 20.8401 11.1652C20.9514 11.433 21.0087 11.7201 21.0087 12.01C21.0087 12.2999 20.9514 12.587 20.8401 12.8548C20.7287 13.1225 20.5656 13.3656 20.36 13.57L19.66 14.27C19.2504 14.6819 19.0203 15.2391 19.02 15.82V16.82C19.02 17.4035 18.7882 17.9631 18.3756 18.3756C17.963 18.7882 17.4034 19.02 16.82 19.02H15.82C15.2391 19.0203 14.6819 19.2504 14.27 19.66L13.57 20.36C13.3655 20.5656 13.1225 20.7288 12.8547 20.8401C12.587 20.9514 12.2999 21.0087 12.01 21.0087C11.72 21.0087 11.4329 20.9514 11.1652 20.8401C10.8975 20.7288 10.6544 20.5656 10.45 20.36L9.74997 19.66C9.33806 19.2504 8.78087 19.0203 8.19997 19.02H7.19997C6.6165 19.02 6.05692 18.7882 5.64434 18.3756C5.23176 17.9631 4.99997 17.4035 4.99997 16.82V15.82C4.99964 15.2391 4.76957 14.6819 4.35997 14.27L3.65997 13.57C3.45437 13.3656 3.29121 13.1225 3.17988 12.8548C3.06855 12.587 3.01123 12.2999 3.01123 12.01C3.01123 11.7201 3.06855 11.433 3.17988 11.1652C3.29121 10.8975 3.45437 10.6544 3.65997 10.45L4.35997 9.75C4.76957 9.33809 4.99964 8.7809 4.99997 8.2V7.2Z" fill="#2C6C00" />
                  <path d="M4.99997 7.2C4.99997 6.61652 5.23176 6.05694 5.64434 5.64436C6.05692 5.23178 6.6165 5 7.19997 5H8.19997C8.78087 4.99967 9.33806 4.7696 9.74997 4.36L10.45 3.66C10.6544 3.4544 10.8975 3.29124 11.1652 3.17991C11.4329 3.06857 11.72 3.01126 12.01 3.01126C12.2999 3.01126 12.587 3.06857 12.8547 3.17991C13.1225 3.29124 13.3655 3.4544 13.57 3.66L14.27 4.36C14.682 4.77 15.24 5 15.82 5H16.82C17.4034 5 17.963 5.23178 18.3756 5.64436C18.7882 6.05694 19.02 6.61652 19.02 7.2V8.2C19.02 8.78 19.25 9.338 19.66 9.75L20.36 10.45C20.5656 10.6544 20.7287 10.8975 20.8401 11.1652C20.9514 11.433 21.0087 11.7201 21.0087 12.01C21.0087 12.2999 20.9514 12.587 20.8401 12.8548C20.7287 13.1225 20.5656 13.3656 20.36 13.57L19.66 14.27C19.2504 14.6819 19.0203 15.2391 19.02 15.82V16.82C19.02 17.4035 18.7882 17.9631 18.3756 18.3756C17.963 18.7882 17.4034 19.02 16.82 19.02H15.82C15.2391 19.0203 14.6819 19.2504 14.27 19.66L13.57 20.36C13.3655 20.5656 13.1225 20.7288 12.8547 20.8401C12.587 20.9514 12.2999 21.0087 12.01 21.0087C11.72 21.0087 11.4329 20.9514 11.1652 20.8401C10.8975 20.7288 10.6544 20.5656 10.45 20.36L9.74997 19.66C9.33806 19.2504 8.78087 19.0203 8.19997 19.02H7.19997C6.6165 19.02 6.05692 18.7882 5.64434 18.3756C5.23176 17.9631 4.99997 17.4035 4.99997 16.82V15.82C4.99964 15.2391 4.76957 14.6819 4.35997 14.27L3.65997 13.57C3.45437 13.3656 3.29121 13.1225 3.17988 12.8548C3.06855 12.587 3.01123 12.2999 3.01123 12.01C3.01123 11.7201 3.06855 11.433 3.17988 11.1652C3.29121 10.8975 3.45437 10.6544 3.65997 10.45L4.35997 9.75C4.76957 9.33809 4.99964 8.7809 4.99997 8.2V7.2" stroke="#2C6C00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M9 12L11 14L15 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_15_153"><rect width="24" height="24" fill="white" /></clipPath>
                </defs>
              </svg>
              <span class="slider-feature-0">COD Funding dengan Belasan Pilihan Ekspedisi</span>
            </li>
            <li class="pl-8 relative">
              <svg
                width="24"
                height="24"
                class="absolute left-0 top-2.5 -translate-y-1/2"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_15_153)">
                  <path d="M4.99997 7.2C4.99997 6.61652 5.23176 6.05694 5.64434 5.64436C6.05692 5.23178 6.6165 5 7.19997 5H8.19997C8.78087 4.99967 9.33806 4.7696 9.74997 4.36L10.45 3.66C10.6544 3.4544 10.8975 3.29124 11.1652 3.17991C11.4329 3.06857 11.72 3.01126 12.01 3.01126C12.2999 3.01126 12.587 3.06857 12.8547 3.17991C13.1225 3.29124 13.3655 3.4544 13.57 3.66L14.27 4.36C14.682 4.77 15.24 5 15.82 5H16.82C17.4034 5 17.963 5.23178 18.3756 5.64436C18.7882 6.05694 19.02 6.61652 19.02 7.2V8.2C19.02 8.78 19.25 9.338 19.66 9.75L20.36 10.45C20.5656 10.6544 20.7287 10.8975 20.8401 11.1652C20.9514 11.433 21.0087 11.7201 21.0087 12.01C21.0087 12.2999 20.9514 12.587 20.8401 12.8548C20.7287 13.1225 20.5656 13.3656 20.36 13.57L19.66 14.27C19.2504 14.6819 19.0203 15.2391 19.02 15.82V16.82C19.02 17.4035 18.7882 17.9631 18.3756 18.3756C17.963 18.7882 17.4034 19.02 16.82 19.02H15.82C15.2391 19.0203 14.6819 19.2504 14.27 19.66L13.57 20.36C13.3655 20.5656 13.1225 20.7288 12.8547 20.8401C12.587 20.9514 12.2999 21.0087 12.01 21.0087C11.72 21.0087 11.4329 20.9514 11.1652 20.8401C10.8975 20.7288 10.6544 20.5656 10.45 20.36L9.74997 19.66C9.33806 19.2504 8.78087 19.0203 8.19997 19.02H7.19997C6.6165 19.02 6.05692 18.7882 5.64434 18.3756C5.23176 17.9631 4.99997 17.4035 4.99997 16.82V15.82C4.99964 15.2391 4.76957 14.6819 4.35997 14.27L3.65997 13.57C3.45437 13.3656 3.29121 13.1225 3.17988 12.8548C3.06855 12.587 3.01123 12.2999 3.01123 12.01C3.01123 11.7201 3.06855 11.433 3.17988 11.1652C3.29121 10.8975 3.45437 10.6544 3.65997 10.45L4.35997 9.75C4.76957 9.33809 4.99964 8.7809 4.99997 8.2V7.2Z" fill="#2C6C00" />
                  <path d="M4.99997 7.2C4.99997 6.61652 5.23176 6.05694 5.64434 5.64436C6.05692 5.23178 6.6165 5 7.19997 5H8.19997C8.78087 4.99967 9.33806 4.7696 9.74997 4.36L10.45 3.66C10.6544 3.4544 10.8975 3.29124 11.1652 3.17991C11.4329 3.06857 11.72 3.01126 12.01 3.01126C12.2999 3.01126 12.587 3.06857 12.8547 3.17991C13.1225 3.29124 13.3655 3.4544 13.57 3.66L14.27 4.36C14.682 4.77 15.24 5 15.82 5H16.82C17.4034 5 17.963 5.23178 18.3756 5.64436C18.7882 6.05694 19.02 6.61652 19.02 7.2V8.2C19.02 8.78 19.25 9.338 19.66 9.75L20.36 10.45C20.5656 10.6544 20.7287 10.8975 20.8401 11.1652C20.9514 11.433 21.0087 11.7201 21.0087 12.01C21.0087 12.2999 20.9514 12.587 20.8401 12.8548C20.7287 13.1225 20.5656 13.3656 20.36 13.57L19.66 14.27C19.2504 14.6819 19.0203 15.2391 19.02 15.82V16.82C19.02 17.4035 18.7882 17.9631 18.3756 18.3756C17.963 18.7882 17.4034 19.02 16.82 19.02H15.82C15.2391 19.0203 14.6819 19.2504 14.27 19.66L13.57 20.36C13.3655 20.5656 13.1225 20.7288 12.8547 20.8401C12.587 20.9514 12.2999 21.0087 12.01 21.0087C11.72 21.0087 11.4329 20.9514 11.1652 20.8401C10.8975 20.7288 10.6544 20.5656 10.45 20.36L9.74997 19.66C9.33806 19.2504 8.78087 19.0203 8.19997 19.02H7.19997C6.6165 19.02 6.05692 18.7882 5.64434 18.3756C5.23176 17.9631 4.99997 17.4035 4.99997 16.82V15.82C4.99964 15.2391 4.76957 14.6819 4.35997 14.27L3.65997 13.57C3.45437 13.3656 3.29121 13.1225 3.17988 12.8548C3.06855 12.587 3.01123 12.2999 3.01123 12.01C3.01123 11.7201 3.06855 11.433 3.17988 11.1652C3.29121 10.8975 3.45437 10.6544 3.65997 10.45L4.35997 9.75C4.76957 9.33809 4.99964 8.7809 4.99997 8.2V7.2" stroke="#2C6C00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M9 12L11 14L15 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_15_153"><rect width="24" height="24" fill="white" /></clipPath>
                </defs>
              </svg>
              <span class="slider-feature-1">Tersedia Layanan Dashboard dan Mobile Apps</span>
            </li>
            <li class="pl-8 relative">
              <svg
                width="24"
                height="24"
                class="absolute left-0 top-2.5 -translate-y-1/2"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_15_153)">
                  <path d="M4.99997 7.2C4.99997 6.61652 5.23176 6.05694 5.64434 5.64436C6.05692 5.23178 6.6165 5 7.19997 5H8.19997C8.78087 4.99967 9.33806 4.7696 9.74997 4.36L10.45 3.66C10.6544 3.4544 10.8975 3.29124 11.1652 3.17991C11.4329 3.06857 11.72 3.01126 12.01 3.01126C12.2999 3.01126 12.587 3.06857 12.8547 3.17991C13.1225 3.29124 13.3655 3.4544 13.57 3.66L14.27 4.36C14.682 4.77 15.24 5 15.82 5H16.82C17.4034 5 17.963 5.23178 18.3756 5.64436C18.7882 6.05694 19.02 6.61652 19.02 7.2V8.2C19.02 8.78 19.25 9.338 19.66 9.75L20.36 10.45C20.5656 10.6544 20.7287 10.8975 20.8401 11.1652C20.9514 11.433 21.0087 11.7201 21.0087 12.01C21.0087 12.2999 20.9514 12.587 20.8401 12.8548C20.7287 13.1225 20.5656 13.3656 20.36 13.57L19.66 14.27C19.2504 14.6819 19.0203 15.2391 19.02 15.82V16.82C19.02 17.4035 18.7882 17.9631 18.3756 18.3756C17.963 18.7882 17.4034 19.02 16.82 19.02H15.82C15.2391 19.0203 14.6819 19.2504 14.27 19.66L13.57 20.36C13.3655 20.5656 13.1225 20.7288 12.8547 20.8401C12.587 20.9514 12.2999 21.0087 12.01 21.0087C11.72 21.0087 11.4329 20.9514 11.1652 20.8401C10.8975 20.7288 10.6544 20.5656 10.45 20.36L9.74997 19.66C9.33806 19.2504 8.78087 19.0203 8.19997 19.02H7.19997C6.6165 19.02 6.05692 18.7882 5.64434 18.3756C5.23176 17.9631 4.99997 17.4035 4.99997 16.82V15.82C4.99964 15.2391 4.76957 14.6819 4.35997 14.27L3.65997 13.57C3.45437 13.3656 3.29121 13.1225 3.17988 12.8548C3.06855 12.587 3.01123 12.2999 3.01123 12.01C3.01123 11.7201 3.06855 11.433 3.17988 11.1652C3.29121 10.8975 3.45437 10.6544 3.65997 10.45L4.35997 9.75C4.76957 9.33809 4.99964 8.7809 4.99997 8.2V7.2Z" fill="#2C6C00" />
                  <path d="M4.99997 7.2C4.99997 6.61652 5.23176 6.05694 5.64434 5.64436C6.05692 5.23178 6.6165 5 7.19997 5H8.19997C8.78087 4.99967 9.33806 4.7696 9.74997 4.36L10.45 3.66C10.6544 3.4544 10.8975 3.29124 11.1652 3.17991C11.4329 3.06857 11.72 3.01126 12.01 3.01126C12.2999 3.01126 12.587 3.06857 12.8547 3.17991C13.1225 3.29124 13.3655 3.4544 13.57 3.66L14.27 4.36C14.682 4.77 15.24 5 15.82 5H16.82C17.4034 5 17.963 5.23178 18.3756 5.64436C18.7882 6.05694 19.02 6.61652 19.02 7.2V8.2C19.02 8.78 19.25 9.338 19.66 9.75L20.36 10.45C20.5656 10.6544 20.7287 10.8975 20.8401 11.1652C20.9514 11.433 21.0087 11.7201 21.0087 12.01C21.0087 12.2999 20.9514 12.587 20.8401 12.8548C20.7287 13.1225 20.5656 13.3656 20.36 13.57L19.66 14.27C19.2504 14.6819 19.0203 15.2391 19.02 15.82V16.82C19.02 17.4035 18.7882 17.9631 18.3756 18.3756C17.963 18.7882 17.4034 19.02 16.82 19.02H15.82C15.2391 19.0203 14.6819 19.2504 14.27 19.66L13.57 20.36C13.3655 20.5656 13.1225 20.7288 12.8547 20.8401C12.587 20.9514 12.2999 21.0087 12.01 21.0087C11.72 21.0087 11.4329 20.9514 11.1652 20.8401C10.8975 20.7288 10.6544 20.5656 10.45 20.36L9.74997 19.66C9.33806 19.2504 8.78087 19.0203 8.19997 19.02H7.19997C6.6165 19.02 6.05692 18.7882 5.64434 18.3756C5.23176 17.9631 4.99997 17.4035 4.99997 16.82V15.82C4.99964 15.2391 4.76957 14.6819 4.35997 14.27L3.65997 13.57C3.45437 13.3656 3.29121 13.1225 3.17988 12.8548C3.06855 12.587 3.01123 12.2999 3.01123 12.01C3.01123 11.7201 3.06855 11.433 3.17988 11.1652C3.29121 10.8975 3.45437 10.6544 3.65997 10.45L4.35997 9.75C4.76957 9.33809 4.99964 8.7809 4.99997 8.2V7.2" stroke="#2C6C00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M9 12L11 14L15 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_15_153"><rect width="24" height="24" fill="white" /></clipPath>
                </defs>
              </svg>
              <span class="slider-feature-2">Akademi KiriminAja untuk Bimbingan Bisnis</span>
            </li>
          </ul>
          <div
            data-aos="fade-up"
            data-aos-once="true"
            data-aos-delay="700"
            class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mt-2"
          >
            <BaseButton
              class="max-w-full px-8 py-4 bg-gradient-to-r from-[#468ef9] to-[#0c66ee] border border-[#0c66ee] text-white flex items-center justify-center"
            >
              Daftar Gratis
              <ChevronRightIcon :size="20" class="mt-1 text-white" />
            </BaseButton>
            <BaseButton
              class="max-w-full px-6 py-4 bg-inherit text-gradient border border-[#0c66ee] flex items-center justify-center"
            >
              <span>Selengkapnya</span>
              <ChevronDownIcon :size="20" class="mt-1 text-[#0c66ee]" />
            </BaseButton>
          </div>
        </div>
        <div class="hidden sm:block col-span-12 lg:col-span-6">
          <div class="w-full">
            <img
              data-aos="fade-up"
              data-aos-once="true"
              :src="require('~/assets/img/hero/hero.webp')"
              class="-mt-4"
              alt=""
            >
          </div>
        </div>
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-1.png')"
          class="hidden sm:block absolute bottom-12 xl:bottom-16 left-4 xl:left-0 w-6"
        >
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-2.png')"
          class="hidden sm:block absolute top-4 sm:top-10 right-64 sm:right-96 xl:right-[32rem] w-6"
        >
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-3.png')"
          class="hidden sm:block absolute bottom-56 right-24 w-6"
        >
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/star.png')"
          class="hidden sm:block absolute top-20 sm:top-28 right-16 lg:right-0 lg:left-[30rem] w-8"
        >
      </BaseSection>
    </section>

    <!-- cek ongkir section -->
    <section
      class="max-w-screen-xl mx-2 sm:mx-auto px-4 sm:px-6 lg:px-0 py-6 pb-20 sm:py-8 rounded-[2.25rem] sm:rounded-xl bg-white shadow-lg sm:shadow-md transform lg:-translate-y-12"
    >
      <BaseSection>
        <LandingBuyTradeImage class="sm:hidden mb-8" />
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 xl:mt-20 space-y-6 px-4">
          <h2 class="text-4xl font-semibold sm:pr-8 xl:pr-12">
            Cek Ongkir <br class="hidden sm:block">
            ke tujuanmu.
          </h2>
          <p class="paragraph">
            Labih dari Puluhan Kurir yang siap kamu pilih
          </p>
          <div class="space-y-6 lg:pr-12">
            <LandingExchange
              title="Asal"
              name="asal"
              type="text"
              default-value=""
            />
            <LandingExchange
              title="Tujuan"
              name="tujuan"
              type="text"
              default-value=""
            />
            <LandingExchange
              title="Berat"
              name="berat"
              type="number"
              default-value=""
            />
            <BaseButton class="w-full px-5 py-4 bg-blue-gradient text-white text-base font-medium">
              Cek Sekarang
            </BaseButton>
          </div>
        </div>
        <LandingBuyTradeImage data-aos="fade-left" class="hidden sm:block" />
      </BaseSection>
    </section>

    <!-- Partners section -->
    <section class="bg-partner relative max-w-full sm:mx-6 my-24 shadow sm:rounded-2xl overflow-hidden">
      <div class="w-full px-6 sm:px-0 py-16 flex flex-col items-center justify-center space-y-4 text-center">
        <h2 data-aos="flip-down" class="font-display text-2xl xl:text-4xl font-bold mt-3 mb-5">
          Partner Kurir Kami
        </h2>
        <p data-aos="flip-down" class="text-lg dark:text-neutral-material-300 text-neutral-700 xl:w-9/12">
          Siap Mengantar Paket anda dari Sabang Sampai Merauke
        </p>
      </div>
      <div data-aos="fade-up" class="mb-5">
        <VueSlickCarousel v-bind="slickOptions">
          <div v-for="(item,index) in partnerImage" :key="index">
            <img :src="item" alt="">
          </div>
        </VueSlickCarousel>
      </div>
    </section>

    <!-- empowering umkm section -->
    <section class="py-14 relative">
      <div class="container xl:w-10/12 2xl:w-9/12 mx-auto px-3">
        <div class="grid xl:grid-cols-6 mb-10">
          <div class="xl:col-span-3">
            <span data-aos="flip-down" class="font-medium text-primary-500">Empowering UMKM</span>
            <h2 data-aos="flip-down" class="font-display text-2xl xl:text-4xl font-bold mt-3 mb-5">
              Jangkauan untuk semua kebutuhan pengiriman paketmu
            </h2>
            <p data-aos="flip-down" class="text-lg dark:text-neutral-material-300 text-neutral-700 xl:w-9/12">
              Persembahan dari kami untuk mempermudah kebutuhan bisnismu
            </p>
          </div>
        </div>
        <div data-aos="flip-down" class="grid xl:grid-cols-3 gap-5">
          <div class="py-6 px-7 group dark:bg-neutral-material-800 rounded-3xl bg-primary-100 relative overflow-hidden">
            <div class="absolute bg-primary-300 dark:bg-neutral-material-700 transition-all group-hover:w-64 w-0 group-hover:scale-150 blur-3xl rounded-full aspect-square bottom-0 right-0 translate-y-1/2 translate-x-1/2" />
            <div class="relative">
              <div class="mb-3">
                <div class="inline-block p-3 bg-gradient-to-b from-primary-200 dark:from-neutral-material-600 dark:to-neutral-material-700 to-primary-300 text-white rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="armchair"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 11a2 2 0 0 1 2 2v2h10v-2a2 2 0 1 1 4 0v4a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-4a2 2 0 0 1 2 -2z" /><path d="M5 11v-5a3 3 0 0 1 3 -3h8a3 3 0 0 1 3 3v5" /><path d="M6 19v2" /><path d="M18 19v2" /></svg>
                </div>
              </div>
              <h3 class="font-bold text-xl font-display mb-3">
                Layanan Terintegrasi
              </h3>
              <p>Dashboard, API, Dan Mobile kami sediakan untuk mengontrol &amp; monitoring lebih mudah.</p>
            </div>
          </div>
          <div class="py-6 px-7 group dark:bg-neutral-material-800 rounded-3xl bg-primary-100 relative overflow-hidden">
            <div class="absolute bg-primary-300 dark:bg-neutral-material-700 transition-all group-hover:w-64 w-0 group-hover:scale-150 blur-3xl rounded-full aspect-square bottom-0 right-0 translate-y-1/2 translate-x-1/2" />
            <div class="relative">
              <div class="mb-3">
                <div class="inline-block p-3 bg-gradient-to-b from-primary-200 dark:from-neutral-material-600 dark:to-neutral-material-700 to-primary-300 text-white rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="shield-lock"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
                    <circle cx="12" cy="11" r="1" />
                    <line x1="12" y1="12" x2="12" y2="14.5" />
                  </svg>
                </div>
              </div>
              <h3 class="font-bold text-xl font-display mb-3">
                Ekspedisi Terbaik
              </h3>
              <p>Kamu bisa pilih layanan sameday, next day, reguler, ekonomi, kargo dan lainya sesukamu.</p>
            </div>
          </div>
          <div class="py-6 px-7 group dark:bg-neutral-material-800 rounded-3xl bg-primary-100 relative overflow-hidden">
            <div class="absolute bg-primary-300 dark:bg-neutral-material-700 transition-all group-hover:w-64 w-0 group-hover:scale-150 blur-3xl rounded-full aspect-square bottom-0 right-0 translate-y-1/2 translate-x-1/2" />
            <div class="relative">
              <div class="mb-3">
                <div class="inline-block p-3 bg-gradient-to-b from-primary-200 dark:from-neutral-material-600 dark:to-neutral-material-700 to-primary-300 text-white rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="brand-github-copilot"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 18v-5.5c0 -.667 .167 -1.333 .5 -2" />
                    <path d="M12 7.5c0 -1 -.01 -4.07 -4 -3.5c-3.5 .5 -4 2.5 -4 3.5c0 1.5 .002 4 3 4c4 0 5 -2.5 5 -4z" />
                    <path d="M4 12c-1.333 .667 -2 1.333 -2 2c0 1 0 3 1.5 4c3.001 2 6.5 3 8.5 3s5.499 -1 8.5 -3c1.5 -1 1.5 -3 1.5 -4c0 -.667 -.667 -1.333 -2 -2" />
                    <path d="M20 18v-5.5c0 -.667 -.167 -1.333 -.5 -2" />
                    <path d="M12 7.5l.003 -.297l.01 -.269l.027 -.298l.013 -.105l.033 -.215c.014 -.073 .029 -.146 .046 -.22l.06 -.223c.336 -1.118 1.262 -2.237 3.808 -1.873c2.838 .405 3.703 1.797 3.93 2.842l.036 .204c.005 .033 .01 .066 .013 .098l.016 .185l.005 .171l-.003 .49l-.015 .394l-.02 .271c-.122 1.366 -.655 2.845 -2.962 2.845c-3.256 0 -4.524 -1.656 -4.883 -3.081l-.053 -.242a3.865 3.865 0 0 1 -.036 -.235l-.021 -.227a3.518 3.518 0 0 1 -.007 -.215z" />
                    <path d="M10 15v2" />
                    <path d="M14 15v2" />
                  </svg>
                </div>
              </div>
              <h3 class="font-bold text-xl font-display mb-3">
                Sistem Otomatis
              </h3>
              <p>Cetak resi / AWB, tracking, saldo COD dan banyak fitur lainnya.</p>
            </div>
          </div>
          <div class="py-6 px-7 group dark:bg-neutral-material-800 rounded-3xl bg-primary-100 relative overflow-hidden">
            <div class="absolute bg-primary-300 dark:bg-neutral-material-700 transition-all group-hover:w-64 w-0 group-hover:scale-150 blur-3xl rounded-full aspect-square bottom-0 right-0 translate-y-1/2 translate-x-1/2" />
            <div class="relative">
              <div class="mb-3">
                <div class="inline-block p-3 bg-gradient-to-b from-primary-200 dark:from-neutral-material-600 dark:to-neutral-material-700 to-primary-300 text-white rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="headset"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="4" y="13" rx="2" width="4" height="6" />
                    <rect x="16" y="13" rx="2" width="4" height="6" />
                    <path d="M4 15v-3a8 8 0 0 1 16 0v3" />
                    <path d="M18 19a6 3 0 0 1 -6 3" />
                  </svg>
                </div>
              </div>
              <h3 class="font-bold text-xl font-display mb-3">
                Selalu Ada Untukmu
              </h3>
              <p>Cetak resi / AWB, tracking, saldo COD dan banyak fitur lainnya.</p>
            </div>
          </div>
          <div class="py-6 px-7 group dark:bg-neutral-material-800 rounded-3xl bg-primary-100 relative overflow-hidden">
            <div class="absolute bg-primary-300 dark:bg-neutral-material-700 transition-all group-hover:w-64 w-0 group-hover:scale-150 blur-3xl rounded-full aspect-square bottom-0 right-0 translate-y-1/2 translate-x-1/2" />
            <div class="relative">
              <div class="mb-3">
                <div class="inline-block p-3 bg-gradient-to-b from-primary-200 dark:from-neutral-material-600 dark:to-neutral-material-700 to-primary-300 text-white rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="clipboard-check"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                    <rect x="9" y="3" width="6" height="4" rx="2" />
                    <path d="M9 14l2 2l4 -4" />
                  </svg>
                </div>
              </div>
              <h3 class="font-bold text-xl font-display mb-3">
                Laporan Aktual
              </h3>
              <p>Kemudahan pantau paket, pencairan COD, saldo, semuanya.</p>
            </div>
          </div>
          <div class="py-6 px-7 group dark:bg-neutral-material-800 rounded-3xl bg-primary-100 relative overflow-hidden">
            <div class="absolute bg-primary-300 dark:bg-neutral-material-700 transition-all group-hover:w-64 w-0 group-hover:scale-150 blur-3xl rounded-full aspect-square bottom-0 right-0 translate-y-1/2 translate-x-1/2" />
            <div class="relative">
              <div class="mb-3">
                <div class="inline-block p-3 bg-gradient-to-b from-primary-200 dark:from-neutral-material-600 dark:to-neutral-material-700 to-primary-300 text-white rounded-full">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="heart"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                  </svg>
                </div>
              </div>
              <h3 class="font-bold text-xl font-display mb-3">
                Friendly
              </h3>
              <p>Ciptakan solusi terbaik dengan masukan, kritik, dan diskusi.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Industry-leading security section -->
    <section class="w-full my-24">
      <div class="relative max-w-screen-xl px-8 mx-auto grid grid-cols-12 gap-x-6">
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6">
          <div class="w-full">
            <img :src="require('~/assets/img/hero/feature.webp')" class="w-full" alt="">
          </div>
        </div>
        <div data-aos="fade-left" class="col-span-12 lg:col-span-5 space-y-8 sm:space-y-6 mt-8 xl:px-8">
          <h2 class="text-4xl font-semibold">
            Masih jaman kirim paket lama? Berantas dengan KiriminAja
          </h2>
          <p data-aos="flip-down" class="text-lg dark:text-neutral-material-300 text-neutral-700 xl:w-full">
            Persembahan dari kami untuk mempermudah kebutuhan bisnismu
          </p>
          <ul class="space-y-8 sm:space-y-4">
            <LandingListItem title="Berbagai service expedisi sameday, kargo dan lainnya." />
            <LandingListItem title="Penjemputan paket tanpa minimal kiriman." />
            <LandingListItem title="Fitur dropoff atau cashless." />
            <LandingListItem title="Kirim paket COD dengan pencairan tercepat." />
            <LandingListItem title="Platform mudah digunakan (user friendly)." />
            <LandingListItem title="Meminimalisir rasio retur." />
          </ul>
        </div>
      </div>
    </section>

    <!-- Getting started section -->
    <section class="bg-trading-tools relative max-w-full sm:mx-4 xl:mx-10 my-24 shadow sm:rounded-2xl overflow-hidden">
      <div class="w-full py-16 flex flex-col items-center">
        <h2 data-aos="flip-down" class="text-3xl sm:text-4xl font-semibold text-center">
          Mulai hanya dalam beberapa menit
        </h2>
        <div
          data-aos="fade-up"
          class="relative w-full flex flex-col lg:flex-row items-center justify-between space-y-12 lg:space-y-0 px-4 xl:px-10 mt-16 sm:mt-8"
        >
          <LandingStep v-for="step in steps" :key="step.title" :step="step" />
          <img
            :src="require('~/assets/img/arrow.png')"
            class="hidden lg:inline-block absolute top-32 left-64 xl:left-[22rem] w-24 xl:w-[9.5rem]"
            alt=""
          >
          <img
            :src="require('~/assets/img/arrow.png')"
            class="hidden lg:inline-block absolute top-32 right-64 xl:right-[22rem] w-24 xl:w-[9.5rem]"
            alt=""
          >
        </div>
      </div>
    </section>

    <!-- CTA section -->
    <section
      class="max-w-screen-xl mx-2 sm:mx-auto px-4 sm:px-6 lg:px-0 py-6 pb-20 sm:py-8 rounded-[2.25rem] sm:rounded-xl bg-gradient-to-b overflow-hidden from-primary-400 to-primary-900 p-6 text-white shadow-lg sm:shadow-md transform lg:-translate-y-12"
    >
      <BaseSection>
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 xl:mt-20 space-y-6 px-4">
          <h2 class="text-4xl font-semibold sm:pr-8 xl:pr-12">
            Udah tenang, <br class="hidden sm:block">
            kirim paketmu dengan KiriminAja sekarang!
          </h2>
          <h2 class="text-4xl font-semibold sm:pr-8 xl:pr-12 text-primary-300">
            #Bisnisjaditenang
          </h2>
          <p class="">
            Semua bisa mulai kirim paket tanpa ribet. Jadikan pengalaman pengiriman paket lebih mudah dengan KiriminAja.
          </p>
        </div>
        <div data-aos="fade-right" class="col-span-12 lg:col-span-6 mx-auto my-auto">
          <div class="">
            <img :src="require('~/assets/img/badge/appstore.png')" class="w-60" alt="">
            <img :src="require('~/assets/img/badge/playstore.png')" class="w-60" alt="">
          </div>
        </div>
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/star.png')"
          class="hidden sm:block absolute top-20 sm:top-28 right-16 lg:right-0 lg:left-[30rem] w-8"
        >
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-1.png')"
          class="hidden sm:block absolute bottom-12 xl:bottom-16 left-4 xl:left-0 w-6"
        >
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-2.png')"
          class="hidden sm:block absolute top-4 sm:top-10 right-64 sm:right-96 xl:right-[32rem] w-6"
        >
        <img
          data-aos="fade-up"
          data-aos-delay="300"
          :src="require('~/assets/img/pattern/ellipse-3.png')"
          class="hidden sm:block absolute bottom-56 right-24 w-6"
        >
      </BaseSection>
    </section>

    <div class="w-full my-10 flex justify-center">
      <a
        v-smooth-scroll
        data-aos="flip-down"
        data-aos-delay="150"
        href="#navbar"
        class="px-6 py-3 flex items-center space-x-2 bg-[#FAFAFA] hover:bg-gray-100 hover:shadow-md border border-[#DDDDDD] rounded-md text-gray-700"
      >
        <span>Back to top</span>
        <ArrowUpIcon :size="20" />
      </a>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import aosMixin from '@/mixins/aos'

export default {
  name: 'IndexPage',
  components: {
    VueSlickCarousel
  },
  mixins: [aosMixin],
  data () {
    return {
      selected: 0,
      steps: [
        {
          img: 'signup.png',
          title: 'Daftar',
          description:
            'Daftar kiriminaja gratis di web, iOS atau Android dan ikuti proses mudah kami untuk mengatur profil Anda'
        },
        {
          img: 'delivery-man.png',
          title: 'Data Pengiriman',
          description:
            'Masukkan kota asal dan kota tujuan serta berat barang yang akan dikirim tentunya juga memilih kurir andalanmu'
        },
        {
          img: 'thumbs-up.png',
          title: 'Beres',
          description:
            'Paket ditangani dengan baik customer senang'
        }
      ],
      partnerImage: [
        'https://kiriminaja-static-file.imgix.net/home-v3/logistics/anteraja.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/ninja.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/idx.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/gosend.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/grab_express.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/borzo.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/jne.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/jnt.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/sicepat.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/sap.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/ncs.png', 'https://kiriminaja-static-file.imgix.net/home-v3/logistics/sentral.png'
      ],
      slickOptions: {
        dots: false,
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        pauseOnDotsHover: true,
        pauseOnFocus: true,
        pauseOnHover: true
      }
    }
  }
}
</script>
<style scoped>
.text-header-gradient {
  background: rgb(57, 132, 244);
  background: linear-gradient(169.4deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-partner {
  background: url('../assets/img/bg-gradient.webp');
  background-size: cover;
  background-position: center;
}
.bg-trading-tools {
  background: url('../assets/img/bg-gradient.webp');
  background-size: cover;
  background-position: center;
}
.max-h-0 {
  max-height: 0;
}
</style>
