<template>
  <div class="flex items-center space-x-4">
    <div class="w-full flex items-center relative px-5 py-3 border border-[#0c66ee] rounded-xl">
      <span class="text-sm font-medium pr-5 py-3 text-[#0c66ee] border-r border-[#0c66ee]"> {{ title }} </span>
      <input
        :type="type"
        class="w-full text-lg font-medium text-right border-none ring-0 focus:outline-none focus:ring-0"
        :name="name"
        :value="defaultValue"
      >
    </div>
  </div>
</template>
<script>
export default {
  name: 'LandingExchange',
  props: {
    title: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      require: true,
      default: ''
    },
    defaultValue: {
      type: [Number, String],
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    }
  },
  data () {
    return {
      openDropdown: false
    }
  },
  methods: {
    toggleDropdown () {
      this.openDropdown = !this.openDropdown
    }
  }
}
</script>
